.main {
  margin: 3rem;
}
.card-parent {
  display: flex;
  gap: 2rem;
}
.card {
  border-radius: var(--border-radius);
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  color: #263238;
  gap: 2rem;
  line-height: 2;
  width: 700px;
  transition: height 0.3s ease;
}
.card-image{
  width: fit-content;
  background-color: var(--secondary-color);
}
.card-image img {
  height: 10vh;
  padding: 0.75rem;
}
.card-header {
  text-align: center;
}
.card-title {
  color: var(--secondary-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.75rem;
}
.card-list-container {
  padding: 0 2rem;
  text-align: justify;
}
.card-list-container span,
h4 {
  color: var(--secondary-color);
}
.section-text, .card-list-container p {
  margin-bottom: 20px;
}
.userButton {
  display: flex;
  flex-direction: row;
  padding: 0.75rem;
  gap: 1rem;
  align-items: center;
}
.userBtn {
  padding: 0.2rem 0.5rem;
  color: var(--color-text);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
}
.userBtn:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}
.expanded {
  height: auto;
}
.btnToggle {
  color: var(--secondary-color);
  border: none;
  background-color: transparent;
  font-size: 1rem;
  text-decoration:underline;
}
@media screen and (max-width: 960px) {
  .card {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .card {
    width: 450px;
  }
  .card-title {
    font-size: 1rem;
  }
  .userButton {
    flex-direction: column;
  }
  .userBtn {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 524px) {
  .card {
    width: 300px;
  }
}
