footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  background-color: var(--primary-color);
  bottom: 0;
}
.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer-link {
  color: var(--color-text);
}
.footer-img {
  /* width: 80px; */
  padding: 0.4rem;
  height: 5rem;
  border-radius: 1rem 1rem;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.footer-img-admin {
  height: 5vw;
}

@media screen and (max-width: 1000px) {
  footer {
    font-size: 0.75rem;
  }

  /* .footer-img {
    width: 50px;
  } */
}

@media screen and (max-width: 768px) {
  footer {
    color: var(--color-text);
  }
  .footer-text {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.5rem;
    font-size: 0.75rem;
    gap: 0.5rem;
  }
  /* .footer-img {
    width: 70px;
  } */
}
@media screen and (max-width: 450px) {
  .footer-text {
    font-size: 0.5rem;
  }
}
